@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@layer base {
    * {
        @apply font-[Raleway]
    }
}

/* Dark */
:root {
    --dark_shade_2: 13, 23, 30;
    --orange_color: 235, 108, 29;
    --blue_color: 133, 226, 238;
    --background: 255, 255, 255;

}

/* Light */
/* :root {
    --background: 209, 213, 219;
    --shadow: 168, 180, 204;
    --secondary_background: 225, 230, 236;
    --border_normal: 150, 150, 150;
    --border_highlighter: 0, 0, 0;
    --text_navbar: 30, 30, 30;
    --text_secondary: 80, 100, 130;
    --text_heading: 60, 70, 100;
    --text_highlighter: 0, 255, 255;
    --hover: 100, 200, 200;
} */